@model IEnumerable<Lab_01_v2_ED.Models.JugadoresModel>

@{
    ViewData["Title"] = "MostrarUsuarios";
}


    <nav class="navbar navbar-dark bg-dark">
        <a asp-action="AgregarJugadoresCS" class="btn btn-outline-info" role="button">Agregar Jugadores</a>
        <a asp-action="EliminarTXT" class="btn btn-outline-light" role="button">Eliminar TXT</a>
        <a asp-action="ImportacionJugadoresCS" class="btn btn-outline-light" role="button">Importar CSV</a>
        <a asp-action="BuscarJugadoresCS" class="btn btn-outline-info " role="button">Buscar Jugadores</a>
    </nav>
        <p>

        </p>
        <h1>Mostrar Jugadores</h1>
        <p>

        </p>
        <table class="table ">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Salario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Club)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Posicion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (JugadoresModel item in ViewBag.Jugadores)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Club)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Posicion)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
